body, html {
	margin: 0;
	font-family: Yu Gothic UI;
	background: #DBDBDB;
}

#mainNavBar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background: #424242;
	border-bottom: 8px solid #6CAF88;
	height: 4.5vw;
	color: white;
	font-size: 1.5vw;
	font-weight: bold;
	padding: 0 10vw;
}

#subNavBar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-size: 1vw;
	color: white;
	font-weight: bold;
}

#more {
	display: none;
}

.mainNavBarItem, .mainNavBarItemSub {
	height: 4.5vw;
	padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subNavBarItem {
	height: 100%;
	padding: 0 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.subNavBarItem:hover {
	background: #416952;
}

.mainNavBarItem:hover, .mainNavBarItemSub:hover {
	background: #080808;
}

#hamburgerMenu {
	display: none;
}

#outerContainer {
	padding: 10px;
	width: 80vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 73% 2% 25%;
	grid-template-rows: 87vh 10px;
	height: auto;
}

#mainContentContainer {
	grid-column: 1;
	background: white;
}

#pizzaContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#sideBar {
	grid-column: 3;
	grid-row: 1;
	background: white;
}

#subNavBar {
	width: 100%;
	height: 3vw;
	background: #6CAF88;
}

@media only screen and (max-width: 1200px) {

	#mainNavBar {
		padding: 0 5vw;
		height: 7vw;
	}

	.mainNavBarItemSub {
		display: none;
	}

	.mainNavBarItem {
		font-size: 2vw;
	}

	#more {
		display: flex;
	}
}

@media only screen and (max-width: 600px) {
	.mainNavBarItem, #more {
		display:none;
	}

	#mainNavBar {
		height: 60px;
		justify-content: space-between;
	}

	#hamburgerMenu {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#sideBar {
		display: none;
	}

	#outerContainer {
		width: 90vw;
		grid-template-columns: 100%;
	}

	#subNavBar {
		display: none;
	}
}